accelerate
aiohappyeyeballs
aiohttp
aiosignal
albucore
albumentations
annotated-types
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
attrs
babel
beautifulsoup4
bleach
certifi
cffi
charset-normalizer
comm
contourpy
cycler
datasets
debugpy
decorator
defusedxml
dill
executing
fastjsonschema
filelock
fonttools
fqdn
frozenlist
fsspec
h11
httpcore
httpx
huggingface-hub
idna
imageio
ipykernel
ipython
ipywidgets
isoduration
jedi
Jinja2
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
kiwisolver
lazy_loader
lightning-utilities
MarkupSafe
matplotlib
matplotlib-inline
mistune
mpmath
multidict
multiprocess
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook
notebook_shim
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-cusparselt-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
opencv-python-headless
overrides
packaging
pandas
pandocfilters
parso
pexpect
pillow
platformdirs
prometheus_client
prompt_toolkit
propcache
psutil
ptyprocess
pure_eval
pyarrow
pycocotools
pycparser
pydantic
pydantic_core
Pygments
pyparsing
python-dateutil
python-json-logger
pytz
PyWavelets
PyYAML
pyzmq
referencing
regex
requests
rfc3339-validator
rfc3986-validator
rpds-py
safetensors
scikit-image
scipy
Send2Trash
setuptools
simsimd
six
sniffio
soupsieve
stack-data
stringzilla
sympy
terminado
tifffile
timm
tinycss2
tokenizers
torch
torchaudio
torchmetrics
torchvision
tornado
tqdm
traitlets
transformers
triton
types-python-dateutil
typing_extensions
tzdata
uri-template
urllib3
wcwidth
webcolors
webencodings
websocket-client
wheel
widgetsnbextension
xxhash
yarl
